# Add any directories, files, or patterns you don't want to be tracked by version control
.gradle
/local.properties
/.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
/captures
/app/build
/app/tup*
*.apk
